### OS
.DS_Store
Session.vim
.*.sw[a-z]
*.un~
*.rpmsave
.bundle

### Ruby
*Gemfile.lock
*Gemfile.local
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/spec/fixtures/modules/
/test/tmp/
/test/version_tmp/
/tmp/

### Control Repo
/data/local.yaml
/modules/
/modules.local/
